/**
 * Saat Ödevi CSS
 */

/** Preset for full body */
body {
    font-family: 'Lexend', sans-serif;

    /* Center Everything */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 200px);

    background: #fafafa;
}

.logo {
    margin-bottom: 50px;
    animation-name: lg-animate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes lg-animate {
    0% {
        filter:none;
    }
    33% {
        filter: invert();
    }
    66% {
        filter: grayscale();
    }
    100% {
        filter:none;
    }
}

.greetings {
    font-weight: 600;
    color: #393939;
    margin-bottom: -5px;
}

/** Username Styles */
.name {
    font-weight: 800;
}

.name::after {
    content: "!";
}

/* Clock Styles */
.clock {
    font-size: 5em;
    font-weight: 600;
    color: orange;
}

.clock > *:not(:last-child)::after {
    content: ":";
}

.day {
    color: #999999;
    font-weight: 600;
}