/**
 * Saat Ödevi CSS
 */

/** Preset for full body */
body {
    font-family: 'Lexend', sans-serif;

    /* Center Everything */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 200px);

    background: #fafafa;
}

.logo {
    margin-bottom: 50px;
    filter: grayscale();
    opacity: 25%;
}

.greetings {
    font-weight: 600;
    color: #393939;
    margin-bottom: -5px;
}

/** Username Styles */
.name {
    font-weight: 800;
}

.name::after {
    content: "!";
}

/* Clock Styles */
.clock {
    width: 450px;
    font-size: 5em;
    font-weight: 600;
    color: orange;
}

.clock > *:not(:last-child)::after {
    content: ":";
}

.day {
    color: #999999;
    font-weight: 600;
}